<nav class="navbar navbar-fixed-top" style="background-color:#2e2e2e" ng-controller="navBarCtrl">
    <div class="container-fluid content-padding">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a class="font-color" style="font-size:16px;font-weight: bold">SMS 超市管理系统</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-interval"><a class="font-color" style="font-weight: bold">欢迎您，管理员</a></li>
                <li class="nav-interval"><a class="font-color"><span class="glyphicon glyphicon-edit"></span> </a>
                </li>
                <li><a class="font-color"><span class="glyphicon glyphicon-question-sign"></span> </a></li>
                <li><a class="font-color"><span class="glyphicon glyphicon-cog"></span> </a></li>
                <li class="nav-interval"><a class="font-color"><span class="glyphicon glyphicon-off"></span> </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

